# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    open-pull-requests-limit: 5
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "tomschr"
    cooldown:
      # https://docs.github.com/en/code-security/reference/supply-chain-security/dependabot-options-reference#cooldown-
      default-days: 5
    labels:
      - "area:dependencies"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "all"
    assignees:
      - "tomschr"
    labels:
      - "area:dependencies"
